backup_files
# housing_data/housing_datasets/tl_2022_us_county/*
# housing_data/housing_datasets/tl_2022_us_zcta520/*
housing_data/housing_datasets
crime_stats
housing_data
node_modules
schools_250417
housing_data/housing_datasets/tl_2022_us_county.zip
.DS_Store
*.DS_Store
*.zip
*.shp
*.dbf
