backup_files
# housing_data/housing_datasets/tl_2022_us_county/*
# housing_data/housing_datasets/tl_2022_us_zcta520/*
housing_data/housing_datasets
charts_graphs
crime_stats
housing_data
node_modules
Powerpoint
project_ml.ipynb
schools_250417
Word
zipcode_map
housing_data/housing_datasets/tl_2022_us_county.zip
.DS_Store
*.DS_Store
*.zip
*.shp
*.dbf
